<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createAssistant(formDirective)">

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" type="text" required
            placeholder="Nombre">
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" name="email" type="email" required
            placeholder="Correo">
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Clave</mat-label>
        <input matInput placeholder="Clave" formControlName="password" name="password" type="password" required
            placeholder="Contraseña" autocomplete="new-password">
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Clave</mat-label>
        <input matInput placeholder="Clave" formControlName="password2" name="password2" type="password" required
            placeholder="Confirma contraseña" autocomplete="new-password">
    </mat-form-field>


    <mat-selection-list [ngModelOptions]="{standalone: true}" [(ngModel)]="selStrSkills">
        <mat-list-option  name="selStrSkills" *ngFor="let skill of skills" (click)="setNewSkill(skill)" [value]="skill._id">
            <span class="mat-select-option-nowarp" >{{skill.tx_skill}}</span>
        </mat-list-option>
    </mat-selection-list>


    <div class="form-group text-center">
        <button *ngIf="!assistantEdit" class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit">Alta de
            Asistente</button>
        <button *ngIf="assistantEdit" class="btn btn-danger btn-block text-uppercase waves-effect waves-light" type="submit">Guardar Cambios
        </button>
        </div>

</form>

