<div class="jumbotron m-2">
    <h1 class="display-4">Bienvenido a la web publica</h1>

        <!---------------------------------------------------------------------->
        <!-- EMAIL -->
        <!---------------------------------------------------------------------->
        <div class="my-2">
            <mat-form-field color="warn" appearance="fill" logincss class="w-100">
                <mat-label>Ingrese la empresa</mat-label>
                <input id="inputCompany" #inputCompany matInput placeholder="Empresa S.A." (keydown.enter)="findCompany(inputCompany)">
                <span class="input-icon"><i
                        class="mdi mdi-close"></i></span>
            </mat-form-field>
        </div>
        <button class="btn btn-success" (click)="findCompany(inputCompany)">Buscar</button>
    

</div>