<div>
    <mat-form-field *ngIf="companies?.length > 0" color="warn" appearance="fill" class="w-100">
        <mat-label>Seleccione una empresa</mat-label>
        <mat-select formControlName="idCompany" [value]="user.id_company?._id" name="idCompany" #selectDesktop
            matNativeControl required>
            <mat-option *ngFor="let company of companies" [value]="company._id" (click)="attachCompany(company)">
                {{company.tx_company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-accordion multi>
        <mat-expansion-panel expanded>

            <mat-expansion-panel-header>
                <mat-panel-title style="align-items: center; color: darkred;">
                    <mat-icon>face</mat-icon>
                    <span class="mx-2">Público</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- HELP -->
            <div class="sidenav-item" routerLink="/help">
                <mat-icon class="sidenav-item-icons">help</mat-icon>
                <span class="sidenav-item-text">Ayuda</span>
            </div>

            <!-- HOME -->
            <div class="sidenav-item" routerLink="/home">
                <mat-icon class="sidenav-item-icons">home</mat-icon>
                <span class="sidenav-item-text">Home</span>
            </div>

            <!-- SCREEN -->
            <div class="sidenav-item" routerLink="/public/screen">
                <mat-icon class="sidenav-item-icons">input</mat-icon>
                <span class="sidenav-item-text">Pantalla</span>
            </div>

            <!-- TICKETS -->
            <div class="sidenav-item" routerLink="/public/tickets">
                <mat-icon class="sidenav-item-icons">turned_in</mat-icon>
                <span class="sidenav-item-text">Turnos</span>
            </div>

        </mat-expansion-panel>
        <!-- *ngIf="userService.user?.id_role === 'USER_ROLE'" -->

        <!-- ASSISTANT / USER -->
        <div *ngFor="let item of userService.menu">
            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title style="align-items: center; color: darkred;">
                        <mat-icon>{{ item.icon }}</mat-icon>
                        <span class="mx-2">{{ item.titulo }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let sub of item.submenu" routerLink="/{{sub.url}}" class="sidenav-item">
                    <mat-icon class="sidenav-item-icons">{{ sub.icon }}</mat-icon>
                    <span class="sidenav-item-text">{{ sub.titulo}}</span>
                </div>

            </mat-expansion-panel>
        </div>

    </mat-accordion>

    <!-- LOGOUT -->
    <div class="p-2 pt-3" *ngIf="userService.logueado">
        <button class="btn btn-sm btn-block btn-danger" (click)="userService.logout()"> Salir </button>
    </div>
</div>