<div class="p-2">

    <!-- HELP -->
    <div class="sidenav-button m-0 p-1 px-3 mr-4" style="text-align: left;" routerLink="/help">
        <mat-icon class="sidenav-button-icons">help</mat-icon>
        <span class="sidenav-button-text">Ayuda</span>
    </div>

    <!-- HOME -->
    <div class="sidenav-button m-0 p-1 px-3 mr-4" style="text-align: left;" routerLink="/home">
        <mat-icon class="sidenav-button-icons">home</mat-icon>
        <span class="sidenav-button-text">Home</span>
    </div>


    <!-- SCREEN -->
    <div class="sidenav-button m-0 p-1 px-3 mr-4" style="text-align: left;" routerLink="/public/screen">
        <mat-icon class="sidenav-button-icons">input</mat-icon>
        <span class="sidenav-button-text">Pantalla</span>
    </div>


    <!-- TICKETS -->
    <div class="sidenav-button m-0 p-1 px-3 mr-4" style="text-align: left;" routerLink="/public/tickets">
        <mat-icon class="sidenav-button-icons">turned_in</mat-icon>
        <span class="sidenav-button-text">Turnos</span>
    </div>


    <!-- ASSISTANT / USER -->
    <div *ngFor="let item of userService.menu">
        <hr *ngIf="userService.menu" class="m-2" style="border-top: 1px solid dimgray;">
        <div class="sidenav-title m-0 p-2 px-1">
            <mat-icon class="sidenav-title-icons">face</mat-icon>
            <span class="sidenav-title-text">{{ item.titulo}}</span>
        </div>

        <div *ngFor="let sub of item.submenu" routerLink="/{{sub.url}}" class="sidenav-button m-0 p-1 px-3 mr-4"
            style="text-align: left;">
            <mat-icon class="sidenav-button-icons">{{ sub.icon }}</mat-icon>
            <span class="sidenav-button-text">{{ sub.titulo}}</span>
        </div>

    </div>

    <!-- LOGOUT -->
    <div *ngIf="userService.logueado">
        <hr class="m-2" style="border-top: 1px solid dimgray;">
        <button class="btn btn-sm btn-block btn-danger" (click)="userService.logout()"> Salir </button>
    </div>

</div>