<div>
    <mat-form-field *ngIf="companies?.length > 0" color="warn" class="p-2 w-100">
        <mat-label>Seleccione una empresa</mat-label>
        <mat-select formControlName="idCompany" [value]="loginService.user?.id_company?._id" name="idCompany" #selectDesktop
            matNativeControl required>
            <mat-option *ngFor="let company of companies" [value]="company._id" (click)="attachCompany(company)">
                {{company.tx_company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-accordion multi>


        <!-- MENU -->
        <div *ngFor="let item of loginService.menu">
            <mat-expansion-panel [expanded]="item.tx_titulo === 'Asistente'">

                <mat-expansion-panel-header>
                    <mat-panel-title style="align-items: center; color: darkred; outline: none;" routerLink="/{{item.tx_url}}">
                        <span class="{{ item.tx_icon }} sidenav-title-icons"></span>
                        <span class="sidenav-title-text mx-2">{{ item.tx_titulo }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let sub of item.subitems" routerLink="/{{sub.tx_url}}" class="sidenav-item">
                    <span class="{{ sub.tx_icon }} sidenav-item-icons"></span>
                    <span class="sidenav-item-text">{{ sub.tx_titulo}}</span>
                </div>

            </mat-expansion-panel>
        </div>

    </mat-accordion>

</div>