<form autocomplete="off" class="form-container m-3" ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" id="loginform"
    action="index.html">

    <!-- Company -->

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Nombre de la Empresa</mat-label>
        <input matInput placeholder="Nombre de la empresa" formControlName="company" name="company" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Calle</mat-label>
        <input matInput placeholder="Calle" formControlName="addressStreet" name="addressStreet" type="text" required>
    </mat-form-field>
    
    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Altura</mat-label>
        <input matInput placeholder="Altura" formControlName="addressNumber" name="addressNumber" type="text" required>
    </mat-form-field>
    
    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Ciudad" formControlName="city" name="city" type="text" required>
    </mat-form-field>
    
    <!-- User -->

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Nombre de Usuario</mat-label>
        <input matInput placeholder="Nombre de Ususario" formControlName="name" name="name" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" name="email" type="email" required>
    </mat-form-field>
    
    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Clave</mat-label>
        <input matInput placeholder="Clave" formControlName="password1" name="password1" type="password" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Ingresa la clave nuevamente</mat-label>
        <input matInput placeholder="Clave" formControlName="password2" name="password2" type="password" required>
    </mat-form-field>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="p-2 rounded">

                <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox"
                    class="checkbox checkbox-primary">
                <label for="checkbox-signup" style="font-size: 12px;"> Estoy de acuerdo con los términos</label>

            </div>
        </div>
    </div>

    <div class="form-group text-center">

        <button class="btn btn-info btn-block text-uppercase waves-effect waves-light"
            type="submit">Registrarme</button>

    </div>

    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            <p>¿Tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Ingresa ahora</b></a>
            </p>
        </div>
    </div>

</form>