<div class="p-2 h-100">
    <div style="height: 83%;">
        <div *ngFor="let message of messages" class="message m-2" [ngClass]="{'message-me': message.me}">
            {{ message.message }}
            <br>
            <span class="message-time">{{ message.time | messageTime }}</span>
        </div>
    </div>
    <div>
        <div class="row" style="align-items: center;">
            <div class="col-10">
                <mat-form-field class="example-full-width w-100">
                    <mat-label>CONSULTA A INFORMES</mat-label>
                    <textarea #textmsg matInput placeholder="Escriba su consulta aquí... "></textarea>
                </mat-form-field>
            </div>
            <div class="col-2 p-0">
                <button (click)="sendMessage( textmsg )" class="send-button" mat-mini-fab>
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>