<div class="m-4 row animated fadeIn">

  <!-- ======================================================== -->
  <!-- DESKTOP -->
  <!-- ======================================================== -->

  <div class="col-lg-6">
    <div class="card bg-light mb-4" style="min-width: 18rem; max-width: 30rem;">
      <div class="card-header banner-title">
        <span>
          ESCRITORIO {{ cdDesk }}
        </span>
        <span *ngIf="comingClient">
          <mat-icon style="float: right; color: blueviolet; font-size: x-large;">directions_walk</mat-icon>
        </span>
      </div>
      <div class="banner-content">

        <div class="container">

          <!------------------------------>
          <!-- EN ATENCIÓN -->
          <!------------------------------>

          <div *ngIf="ticketsService.myTicket">
            <div class="row">
              <div class="col">
                Atendiendo turno
              </div>
            </div>
            <div class="row">
              <div class="col xxxxl">
                {{ ticketsService.myTicket.id_skill.cd_skill }}
                {{ ticketsService.myTicket.cd_number }}
              </div>
            </div>
          </div>

          <!------------------------------>
          <!-- OCIOSO -->
          <!------------------------------>

          <div class="card text-white my-4 p-2" style="background-color: darkcyan;" *ngIf='message'>{{message}}</div>

          <!------------------------------>
          <!-- TIEMPOS DE ATENCION -->
          <!------------------------------>
          <div class="row banner-footer">
            <div class="col p-0">
              <div>TE</div>
              <div>{{tmWaiting}}</div>
            </div>
            <div class="col p-0">
              <div>TA</div>
              <div>{{tmAttention}}</div>
            </div>
            <div class="col p-0">
              <div>Tm</div>
              <div>{{timerCount}}</div>
            </div>
            <div class="col p-0">
              <div>TC</div>
              <div>{{pendingTicketsCount}}</div>
            </div>
          </div>

          <!------------------------------>
          <!-- ACTIONS -->
          <!------------------------------>

          <div class="content">
            <hr class="my-1">
            <div class="row" style="justify-content: space-between;">




              <div class="col col-6 col-md-3 p-1">
                <button class="btn btn-block btn-info" (click)="reassignTicket()"
                  [ngClass]="{'button-disabled': waitForClient || !ticketsService.myTicket || skillSelected === ''}"
                  [disabled]="waitForClient || !ticketsService.myTicket || skillSelected === ''">
                  Reasignar
                </button>
              </div>

              <div class="col col-6 col-md-3 p-1">
                <button class="btn btn-block btn-success" (click)="takeTicket()"
                  [ngClass]="{'button-disabled': waitForClient }" [disabled]="waitForClient">
                  Siguiente
                </button>
              </div>

              <div class="col col-6 col-md-3 p-1">
                <button class="btn btn-block btn-danger" (click)="releaseTicket()"
                  [ngClass]="{'button-disabled': waitForClient || !ticketsService.myTicket }"
                  [disabled]="waitForClient || !ticketsService.myTicket">
                  Soltar
                </button>
              </div>

              <div class="col col-6 col-md-3 p-1">
                <button class="btn btn-block btn-primary" (click)="endTicket()"
                  [ngClass]="{'button-disabled': waitForClient || !ticketsService.myTicket }"
                  [disabled]="waitForClient || !ticketsService.myTicket">
                  Finalizar
                </button>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- ======================================================== -->
  <!-- SKILL TABLE -->
  <!-- ======================================================== -->

  <div class="col-lg-6">
    <div class="card bg-danger mb-4" style="min-width: 18rem; max-width: 30rem;font-size: large;font-weight: lighter;">
      <div class="card-content table-responsive-sm  p-2">
        <mat-radio-group [(ngModel)]="skillSelected">

          <table class="table table-sm text-white text-center">

            <tr style="border-top: 0px; color: yellow;">
              <td colspan="2" style="text-align: left; border: none;">Skill</td>

              <td style="text-align: right; border: none;"> En espera </td>
            </tr>

            <tr *ngFor="let waiting of pendingTicketsBySkill">
              <td style="padding: 0; vertical-align: middle; font-size: 16px;">
                <!-- skill assigned to assistant -->
                <span *ngIf="waiting.assigned" style="color: greenyellow">
                  <mat-icon>check</mat-icon>
                </span>
                <!-- skill is NOT assigned to assistant, input radio can reassign ticket -->
                <span *ngIf="!waiting.assigned && !waitForClient && ticketsService.myTicket">
                  <mat-radio-button [value]="waiting.id" style="position: relative;
                left: 4px;
                top: 4px;"></mat-radio-button>
                </span>
              </td>
              <td style="text-align: left;">
                {{ waiting.tx_skill }}
              </td>
              <td style="text-align: right;">
                {{ waiting.tickets.length }}
              </td>
            </tr>

          </table>

        </mat-radio-group>
        <div class="m-3 float-right">
          <mat-label class="mx-2">Prioritario</mat-label>
          <mat-slide-toggle [(ngModel)]="blPriority"></mat-slide-toggle>
        </div>
  
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col">

    <!-- ======================================================== -->
    <!-- DESKTOP BUTTONS -->
    <!-- ======================================================== -->

    <div class="text-center footer-panel">
      <button class="btn btn-danger text-uppercase m-2" (click)="releaseDesktop()">Abandonar Escritorio</button>
    </div>

  </div>
</div>