<div class="saturno-card p-0 shadow-box animated fadeIn">


    <!-- STEPPER ON -->
    <mat-horizontal-stepper style="text-align: left;" linear #stepper>

        <!-- Qué es Step -->
        <mat-step state="star">
            <div class="animated fadeIn">
                <div class="card-body">
                    <h5>Qué es <span class="saturno-typo">SATURNO</span>?</h5>
                    <p>
                        Saturno <b>no es un sistema de agenda de reseva de turnos programados.</b> Es un sistema de administración de turnos 
                        con <b>demanda espontánea</b> cuyos turnos pueden ser obtenidos en forma online. Puede usarse en todo comercio o 
                        empresa que requiera recepcionar a sus clientes de manera <b>espontánea</b>, por ejemplo una guardia en un
                        hospital, una clínica o un comercio de venta al público.
                    </p>
                    <p>
                        A diferencia de un sistema de turnos programados, con un sistema de demanda espontánea de reseva online, 
                        si sus asistentes o profesionales presentan demoras en la atención evita congestiones 
                        molestas e innecesarias en salas de espera, y si sus clientes cancelan sus turnos evita tiempo ocioso de asistentes o profesionales.
                    </p>
                    <p>
                        <b>¡Sus clientes ya no se quejarán por la demora en la atención!</b>
                    </p>
                    <p>
                        A diferencia de una app estándar, su cliente no debe registrarse en ningún momento y <b>no debe descargar la app de saturno</b>, 
                        esto es importante porque significa que no debe forzarlo a visitar una PlayStore o una AppStore para descargar e instalar una app. 
                    </p>
                    <p>
                        Sus clientes sólo deben ingresar a la web en <b>saturno.live</b>, buscar su empresa y desde allí mismo generar sus turnos. 
                        Opcionalmente se ofrece a su cliente instalar una PWA que funciona como una app muy ligera de apenas unos pocos Kb. 
                        Si su cliente no desea instalar la app puede simplemente omitir la instalación y utilizar la versión web desde el navegador. 
                    </p>
                    <hr>
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <div class="footer-icon-menu" (click)="stepperGoBack(stepper)">
                                <span class="mdi mdi-chevron-left xl"></span>
                                <div>Anterior</div>
                            </div>
                        </div>
                        <div class="col">
                            <span class="footer-icon-menu" routerLink="/home">
                                <span class="mdi mdi-home xl"></span>
                                <div>Home</div>
                            </span>
                        </div>
                        <div class="col">
                            <div class="footer-icon-menu" (click)="stepperGoNext(stepper)">
                                <span class="mdi mdi-chevron-right xl"></span>
                                <div>Siguiente</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </mat-step>
        <!-- Cómo funciona Step -->
        <mat-step state="star">
            <div class="animated fadeIn">
                <div class="card-body">
                    <h5>Cómo funciona <span class="saturno-typo">SATURNO</span>?</h5>

                    <p>
                        Debe crear un usuario y entrar en el sistema. Al iniciar sesión por primera vez 
                        tendrá disponible un asistente que lo guiará en el proceso de crear sus comercios y todo lo necesario
                        para comenzar a atender los turnos que generan sus clientes.
                    </p>
                    <p>
                        Una vez que tenga creado todo lo necesario, podrá ir al menú de Asistentes y tomar un escritorio que se encuentre
                        disponible. 
                    </p>

                    <p>
                        Por otro lado su cliente debe entrar a https://saturno.live y desde el buscador debe buscar su empresa. 
                        Usted puede también proveerle la dirección de acceso directo por ejemplo saturno.live/suempresa.
                    </p>

                    <p>
                        Una vez que su cliente encuentra e ingresa en su empresa va a encontrar un menú con opciones.
                        Esas opciones son las habilidades que usted creó en el asistente, por ejemplo, si es una guardia podría ver las 
                        especialidades de Pediatría, Clínica o Traumatología, y si se trata de un local de venta al público de electrónica, 
                        podría ver las opciones de Computación, Telefonía, Audio, etc. Si no creo habilidades porque su comercio requiere 
                        de un sólo canal de atención, sólo estará disponible la opción "Obtener turno".
                    </p>

                    <hr>

                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <span class="footer-icon-menu" routerLink="/home">
                                <span class="mdi mdi-home xl"></span>
                                <div>Home</div>
                            </span>
                        </div>
                        <div class="col">
                            <div class="footer-icon-menu" (click)="stepperGoNext(stepper)">
                                <span class="mdi mdi-chevron-right xl"></span>
                                <div>Siguiente</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </mat-step>


        <!-- Porqué Step -->
        <mat-step state="star">
            <div class="animated fadeIn">
                <div class="card-body">

                    <h5>Porqué <span class="saturno-typo">SATURNO</span>?</h5>
                    <p>
                        Somos un equipo de desarrollo que nos mantenemos constantemente
                        actualizados con las últimas tecnologías disponibles para convertirlas en
                        aplicaciones ágiles, modernas e intentemos que sean de utilidad y aporten valor.
                    </p>
                    <p>
                        Es un proyecto que a penas comienza. Es libre y sobretodo es gratis. No cobramos ni cobraremos
                        por este servicio, ni a usted ni a sus clientes.
                    </p>
                    <p>
                        Estaremos trabajando a partir de propuestas de mejora para su negocio de modo
                        que además, nos permita implementar un proceso continuo de mejoras en nuestras aplicaciones para
                        que puedan adaptarse
                        mejor a sus necesidades, las de su negocio y de sus clientes.
                    </p>
                    <hr>

                    <div class="row" style="text-align: center;">

                        <div class="col">
                            <div class="footer-icon-menu" (click)="stepperGoBack(stepper)">
                                <span class="mdi mdi-chevron-left xl"></span>
                                <div>Anterior</div>
                            </div>
                        </div>
                        <div class="col">
                            <span class="footer-icon-menu" routerLink="/home">
                                <span class="mdi mdi-home xl"></span>
                                <div>Home</div>
                            </span>
                        </div>
                        <div class="col">
                            <span class="footer-icon-menu" routerLink="/register">
                                <div class="mdi mdi-account-plus xl"></div>

                                <div>Registrarme</div>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </mat-step>


    </mat-horizontal-stepper>
</div>