<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="forma" (ngSubmit)="createSkill(formDirective)">


    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Seleccione una empresa</mat-label>
        <mat-select  formControlName="idCompany" #selectDesktop matNativeControl required>
            <mat-option *ngFor="let company of userService.companies" [value]="company._id">
                {{company.tx_company_name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Abreviado</mat-label>
        <input matInput placeholder="V" formControlName="cdSkill" name="cdSkill" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" class="w-100">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Ventas" formControlName="txSkill" name="txSkill" type="text" required>
    </mat-form-field>

    <div class="form-group text-center">
        <button class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit">Alta de Skill</button>
    </div>

</form>