<div class="saturno-container animated fadeIn p-2">

    <div class="card bg-danger lead text-white">
        <div class="card-header d-flex">
            <div>
                Habilidades
            </div>
            <div style="width: 100%; text-align: right;">
                <mat-slide-toggle [disabled]="!activateSlide" labelPosition="before" [(ngModel)]="activateSkills" (click)="toggleSkills()">
                    <div *ngIf="activateSkills">Activadas</div>
                    <div *ngIf="!activateSkills">Desactivadas</div>
                </mat-slide-toggle>
            </div>
            


        </div>
        <div *ngIf="activateSkills" class="card-body table-responsive-sm">
            <table class="table table-sm text-white">
                <tr *ngFor="let skill of skills">
                    <td> {{skill?.cd_skill}} </td>
                    <td> {{skill?.tx_skill}} </td>
                    <td style="text-align: right;">
                        <mat-icon class="ml-2 list-crud-delete" (click)="deleteSkill(skill._id)">delete
                        </mat-icon>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="my-4"></div>

    <div class="card lead" *ngIf="activateSkills">
        <div class="card-header">Alta de Skills para {{user.id_company?.tx_company_name}}</div>
        <div class="card-body">
            <app-skill-create-form (skillCreated)="skillCreated($event)"></app-skill-create-form>
        </div>
    </div>

</div>