<div class="saturno-card shadow-box animated fadeIn">

        <form #f="ngForm" (ngSubmit)="enviar( f )">

            <mat-form-field color="warn" logincss class="w-100">
                <mat-label>Tipo de contacto</mat-label>
                <mat-select ngModel name="tipo" required>
                    <mat-option value="consulta"> Consulta </mat-option>
                    <mat-option value="comentario"> Comentario </mat-option>
                    <mat-option value="sugerencia"> Sugerencia </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field color="warn" logincss class="w-100">
                <mat-label>Comentario</mat-label>
                <textarea matInput ngModel name="comentarios" rows="5" required minlength="10">
                                Por favor, deje su consulta, comentario o sugerencia aquí.
                                </textarea>
            </mat-form-field>


            <div class="card">
                <div class="card-header" style="cursor: pointer;text-align: start;"
                    (click)="showContactData=!showContactData">
                    Datos de contacto (opcional)</div>
                <div *ngIf="showContactData" class="card-body">

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput ngModel name="nombre" minlength="2">
                    </mat-form-field>

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput ngModel name="email" type="email">
                    </mat-form-field>

                    <mat-form-field color="warn" logincss class="w-100">
                        <mat-label>Teléfono</mat-label>
                        <input matInput ngModel name="telefono" minlength="8">
                    </mat-form-field>
                </div>
            </div>

            <button class="btn btn-success btn-block mt-4" [disabled]="!f.valid">Enviar</button>



        </form>

    <div class="container mt-5">
        <div class="row" style="align-items: center;">
            <div class="col p-1 sm" style="text-align-last: left;">
                <div>Matías Frith | 2020</div>
            </div>
            <div class="col p-1" style="text-align-last: right;">
                <a href="https://www.facebook.com/saturno.turnos/" target="_blank"
                    class="ml-2 xxl pointer mdi mdi-facebook" style="color: #3b5998"></a>
                <a href="https://wa.me/541164906542" target="_blank" class="ml-2 xxl pointer mdi mdi-whatsapp"
                    style="color: green"></a>
                <a href="mailto:info@saturno.live" target="_blank" class="ml-2 xxl pointer mdi mdi-email-outline"
                    style="color: darkred"></a>
            </div>
        </div>
    </div>
</div>


<div class="saturno-footer">
    <div class="row">
        <div class="col">
            <span class="footer-icon-menu" routerLink="/home">
                <span class="mdi mdi-home xl"></span>
                <div>Inicio</div>
            </span>
        </div>
    </div>
</div>