<div class="saturno-container animated fadeIn" [ngClass]="{nomargin:nomargin, nopadding:nopadding}">

    <div class="card bg-secondary text-white">

        <div class="card-header">
            <span class="mdi mdi-monitor"></span>
            Escritorios / Ventanillas
        </div>

        <div class="card-body table-responsive-sm">
            <div *ngIf="!desktops || desktops?.length === 0" class="row align-items-center justify-content-center">
                <span class="mdi mdi-check-circle-outline xxl mx-2 text-warning"></span>
                <span>Un escritorio genérico fué creado</span>
            </div>
            <table class="table table-sm text-white">
                <tr *ngFor="let desktop of desktops">
                    <td>{{desktop?.cd_desktop}}</td>
                    <td style="text-align: right;">
                        <span class="mdi mdi-delete ml-2 list-crud-delete" (click)="deleteDesktop(desktop._id)"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="my-4"></div>

    <div class="card">

        <div class="card-header ">
            <span class="mdi mdi-plus-circle-outline"></span>
            Alta de Escritorio</div>
        <div class="card-body">

            <app-desktop-create-form (desktopCreated)="desktopCreated($event)"></app-desktop-create-form>

        </div>
    </div>

</div>