<div class="bg-light turno-container  p-2">
  <div class="card m-1">

    <div class="card-header">OBTENER TURNO</div>
    <div class="card-body">


      <h5 class="card-title">
        <span *ngIf="loading" id="lblNuevoTicket">
          Cargando...
        </span>
      </h5>


      <div *ngIf="ticketsService.companyData">

        <div *ngIf="ticketsService.companyData">
          <p class="lead">
            Usted esta por sacar un turno para ser atendido en
          </p>

          <p style="color: red; font-size: 2rem; font-weight: 400;">
            {{ ticketsService.companyData.tx_company_name }}
          </p>

          <p style="color: red; font-size: 1rem; font-weight: 400;">
            {{ ticketsService.companyData.tx_address_street }}
            {{ ticketsService.companyData.tx_address_number }}
            {{ ticketsService.companyData.cd_city }}

          </p>

            <button *ngFor="let skill of skills" class="btn btn-success btn-block btn-lg" (click)="nuevoTicket(skill.id_skill)">
              {{skill.tx_skill}}
            </button>
      


      </div>

    </div>
  </div>
</div>