<div class="jumbotron m-2">
    <h1 class="display-4">Bienvenido a la web del asistente</h1>
    <p class="lead">Bienvenido, desde aquí puede sacar un turno y evitar la sala de esperas.</p>

    <div class="my-4">
        <input #txtEscritorio (keyup.enter)="entrar( txtEscritorio.value )" name="escritorio" type="number"
            class="form-control" placeholder="Escritorio" required>
    </div>
    <div>

    <button class="btn btn-success btn-block" role="button" (click)="entrar( txtEscritorio.value )">Ingresar</button>

    </div>

    <hr class="my-4">
    <p> Desde acá podes ingresar a una ventanilla de atención. Desde el chat podra ver las consultas de los 
        clientes una vez se les haya asignado esta ventanilla. Si desea puede también atender consultas desde 
        la ventanilla de informes para todas las consultas que todavía permanecen en espera.
    </p>

    <a class="btn btn-primary btn-lg" routerLink="/asistente/dashboard" role="button">Dashboard</a>
</div>