<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="menuForm"
    (ngSubmit)="createMenu(formDirective)">

    <mat-form-field color="warn" class="w-100">
        <mat-label>Código de Rol</mat-label>
        <input matInput placeholder="0" formControlName="cd_role" name="cd_role" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>Código de Pricing</mat-label>
        <input matInput placeholder="0" formControlName="cd_pricing" name="cd_pricing" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo" formControlName="tx_titulo" name="tx_titulo" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>Icono</mat-label>
        <input matInput placeholder="mdi mdi-icon" formControlName="tx_icon" name="tx_icon" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>URL</mat-label>
        <input matInput placeholder="/assistant/home" formControlName="tx_url" name="tx_url" type="text" required>
    </mat-form-field>

    <div *ngIf="!itemEdit" class="row text-center">
        <div class="col">
            <button *ngIf="!itemEdit" class="btn btn-success btn-block text-uppercase" type="submit">
                Crear Menu
            </button>
        </div>
    </div>
    <div *ngIf="itemEdit" class="row">
        <div class="col w-100">
            <button class="btn btn-danger btn-block text-uppercase" type="submit">
                Guardar
            </button>
        </div>
        <div class="col">
            <button class="btn btn-warning btn-block text-uppercase" (click)="resetForm(formDirective)">
                Limpiar
            </button>
        </div>
    </div>


</form>