<app-toolbar (toggleSideNav)="toggle( sidenav )" [unreadMessages]="unreadMessages" (toggleChat)="toggle( chat )">
</app-toolbar>

<mat-drawer-container class="example-container h-100">

    <!-- sidenav -->
    <mat-drawer #sidenav id="sidenav" mode="over" style="background-color: whitesmoke;">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <!-- chat -->
    <mat-drawer [(opened)]="opened" #chat id="chat" mode="over" position="end" class="mat-drawer-chat">
        <app-chat (toggleChat)="toggle( chat )" [chatOpenStatus]="opened" (unreadMessages)="unreadMessages=$event">
        </app-chat>
    </mat-drawer>

    <div style="text-align: -webkit-center;">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>