<div class="saturno-container shadow-box animated fadeIn">

    <form ngNativeValidate #f="ngForm">
        <div class="jumbotron py-5 text-dark">

            <h2>Bienvenido</h2>
            <p class="lead" style="font-size: medium;">Desde aquí puede registrar su cuenta. </p>
            <hr class="saturno-hr my-4">
            <p class="lead" style="font-size: medium;">Usted puede crear su cuenta utilizando su cuenta de Google.</p>
           
            <button class="btn btn-danger btn-block" type="button" id="btnGoogle"
            data-toggle="tooltip">
            <span class="mdi mdi-google"></span> Google
        </button>

        </div>
    </form>




    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" id="loginform">


        <!-- User -->

        <mat-form-field color="warn" logincss class="w-100">
            <mat-label>Tu Nombre</mat-label>

            <input matInput placeholder="Diego Perez" formControlName="name" name="name" type="text" required>
        </mat-form-field>

        <mat-form-field color="warn" logincss class="w-100">
            <mat-label>Email</mat-label>
            <mat-error *ngIf="forma.errors?.emailExists">Este Email ya se encuentra registrado!</mat-error>
            <input matInput placeholder="diego@perez.com" formControlName="email" name="email" type="email"
                (keyup)="checkEmailExists()" required>
        </mat-form-field>

        <mat-form-field color="warn" logincss class="w-100">
            <mat-label>Clave</mat-label>
            <input matInput placeholder="Clave" formControlName="password1" name="password1" type="password" required>
        </mat-form-field>

        <mat-form-field color="warn" logincss class="w-100">
            <mat-label>Ingresa la clave nuevamente</mat-label>
            <input matInput placeholder="Clave" formControlName="password2" name="password2" type="password" required>
        </mat-form-field>

        <!-- <div class="form-group row">
            <div class="col-md-12">
                <div class="p-2 rounded">

                    <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox"
                        class="checkbox checkbox-primary m-2" required>
                    <label for="checkbox-signup" style="font-size: 12px;">Estoy de acuerdo con las
                        condiciones</label>

                </div>
            </div>
        </div> -->

        <!-- [disabled]="!forma.valid" -->
        <div class="form-group text-center px-4 py-2">
            <button [disabled]="!forma.valid" class="btn btn-dark btn-block" type="submit">
                <span class="mdi mdi-account-plus"></span> Registrarme
            </button>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                <p>Ya tenes una cuenta? | <a routerLink="/login" class="text-dark"><b>Ingresa
                            aquí</b></a>
                </p>
            </div>
        </div>

    </form>
</div>


<div class="saturno-footer">
    <div class="row">
        <div class="col">
            <span class="footer-icon-menu" routerLink="/home">
                <span class="mdi mdi-home xl"></span>
                <div>Inicio</div>
            </span>
        </div>
    </div>
</div>