<div class="shadow-box animated fadeIn m-4 p-3" style="min-width: 18rem; max-width: 30rem;">

  <div class="jumbotron">
    <h2>Bienvenido</h2>
    <p class=" lead mb-2">Desde aquí puede sacar un turno y esperar donde usted quiera evitando salas de espera.</p>
  </div>

  <button class="btn btn-primary btn-lg btn-block m-1" routerLink="/public" role="button">OBTENER TURNO</button>
  <!-- <button class="btn btn-dark m-1" routerLink="/register" role="button">REGISTRARME</button> -->

  <div class="container mt-5">
    <div class="row" style="align-items: center;">
      <div class="col-6 footer-text">
        2020 | Matias Frith
      </div>
      <div class="col-6 footer-logo">
        <img src="../../../assets/img/mean-mini.png" class="img-fluid">
      </div>
    </div>
  </div>


</div>