.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    align-items: center;
}

.footer-text {
    text-align: center;
    color: rgb(197, 197, 197);
    font-weight: lighter;
}

.footer-logo {
    text-align: center;
    opacity: 0.8;
}