<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="forma"
    (ngSubmit)="createCompany(formDirective)">

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Nombre de la Empresa</mat-label>
        <mat-error>Esta Empresa ya se encuentra registrada!</mat-error>
        <input matInput placeholder="Nombre de la empresa" formControlName="company" name="company" type="text" required
            (keyup)="checkCompanyExists()">
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Nombre público</mat-label>
        <input matInput placeholder="Nombre de la empresa" formControlName="companyString" name="companyString"
            type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Ciudad" formControlName="city" name="city" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Calle</mat-label>
        <input matInput placeholder="Calle" formControlName="addressStreet" name="addressStreet" type="text" required>
    </mat-form-field>

    <mat-form-field color="warn" appearance="fill" logincss class="w-100">
        <mat-label>Altura</mat-label>
        <input matInput placeholder="1234" formControlName="addressNumber" name="addressNumber" type="text" required>
    </mat-form-field>

    <div *ngIf="!companyEdit" class="row text-center">
        <div class="col">
            <button *ngIf="!companyEdit" class="btn btn-success btn-block text-uppercase" type="submit">
                Alta de Empresa
            </button>
        </div>
    </div>
    <div *ngIf="companyEdit" class="row">
        <div class="col w-100">
            <button class="btn btn-danger btn-block text-uppercase" type="submit">
                Guardar
            </button>
        </div>
        <div class="col">
            <button class="btn btn-warning btn-block text-uppercase" (click)="resetForm(formDirective)">
                Limpiar
            </button>
        </div>
    </div>


</form>