.example-button-container {
  display        : flex;
  justify-content: right;
  width          : 120px;
}


.screen-icon-star {
  cursor   : pointer;
  transform: scale(2);
  color    : #b64444;
  top      : 3px;
  position : relative;
}

.screen-icon-star-on {
  color: orange;
}


.button-disabled {
  background-color: #f1f1f1;
  color: #c7c7c7;
}
