.example-button-container {
  display        : flex;
  justify-content: right;
  width          : 120px;
}

.screen-icon-star {
  cursor   : pointer;
  transform: scale(2);
  color    : #b64444;
  top      : 3px;
  position : relative;
  font-size: xx-large;
}

.screen-icon-star-on {
  color: orange;
}

.button-disabled {
  background-color: #f1f1f1;
  color           : #c7c7c7;
}

.screen-text-title {
  font-size:calc(.7em + 1.5vw);
}


/* my ticket rounded */
.screen-myticket-container {
  padding: 1.5em;
  width:12em;
  height:12em;
  line-height: 3em;
  border-radius: 50%;
  color: darkslategray;
  background-color: #fcfcfc;
}
.screen-myticket-text-header {
  font-size:1.2em;
}
.screen-myticket-text {
  font-size:3em;
}
.screen-myticket-text-alert {
  opacity: 0;
}
.screen-myticket-text-footer {
  font-size:1em;
}
/* ------------------------------------------------------- */

.screen-text-big {
  font-weight: 500;
  font-size:calc(3em + 5vw);
}

.screen-text-history {
  font-size:calc(1.5em + 1.5vw);
  border-top: 1px solid rgba(98, 98, 214, 0.2);
}

.screen-text-subtitled {
  color: darkslategrey;
  border-top: none;
  font-size :calc(.5em + .8vw);
}

.screen-icons {
  font-size:calc(.8em + .8vw);
}
