<!-- ======================================================== -->
<!-- TICKETS SCREEN -->
<!-- ======================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <!------------------------------>
            <!-- ULTIMO TURNO -->
            <!------------------------------>
            <div class="card rounded-0 text-white bg-danger my-2">
                <div class="card-header screen-text-title">ULTIMO TURNO</div>
                <div class="banner-content bg-light text-danger" style="background-color: rgb(141, 51, 51)">
                    <div *ngIf="!lastTicket">
                        <span class="xxxxl">
                            --
                            --
                        </span>
                    </div>
                    <div>
                        <span class="screen-text-big" *ngIf="lastTicket">
                            <!-- todo: si id_skill no existe es porque el skill fue eliminado. Los skills deberían desactivarse y no borrarse. -->
                            {{ lastTicket?.id_skill?.cd_skill }}
                            {{ lastTicket?.id_position }}
                        </span>
                    </div>

                </div>
            </div>
            <!------------------------------>
            <!-- PUBLICIDAD -->
            <!------------------------------>
            <div>
                <!-- <iframe width="100%" height="480px" [src]="'-FV0KKDdysw?rel=0&autoplay=1&mute=0&fullscreen=1&loop=1&playlist=-FV0KKDdysw' | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allowtransparency="true" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>
        </div>
        <!-- ======================================================== -->
        <!-- HISTORIAL DE LLAMADAS -->
        <!-- ======================================================== -->
        <div class="col-sm-6">
            <div class="card rounded-0 text-white bg-primary my-2">
                <div class="card-header screen-text-title">HISTORIAL</div>
                <div class="banner-content bg-light text-primary">
                    <table class="w-100 table-sm text-center">
                        <tr>
                            <td class="screen-text-subtitled"> TURNO </td>
                            <td class="screen-text-subtitled"> ESCRITORIO</td>
                            <td class="screen-text-subtitled"> ESTADO </td>
                        </tr>
                        <tr *ngIf="ticketsTail.length === 0">
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr class="screen-text-history" *ngFor="let ticket of ticketsTail;">
                            <td style="text-align: center;">{{ ticket.id_skill?.cd_skill }}{{ ticket.id_position }}</td>
                            <td style="text-align: center; ">{{ ticket.id_session.id_desktop.cd_desktop }}</td>
                            <td style="padding: 0; vertical-align: middle;">
                                <span *ngIf="!ticket.tm_end" style="color: blueviolet">
                                    <span class="mdi mdi-contactless-payment-circle-outline screen-icons"></span>
                                </span>
                                <span *ngIf="ticket.id_child && ticket.tm_end" style="color: red">
                                    <span class="mdi mdi-arrow-left-circle-outline screen-icons"></span>
                                </span>
                                <span *ngIf="!ticket.id_child && ticket.tm_end" style="color: green">
                                    <span class="mdi mdi-check-circle-outline screen-icons"></span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
