<div class="row p-3">
    <div class="col-md-6">

        <!-- ======================================================== -->
        <!-- SU TURNO -->
        <!-- ======================================================== -->

        <div class="card text-white bg-success mb-4" *ngIf="ticketsService.myTicket">
            <div class="card-header banner-title">SU TURNO</div>
            <div class="banner-content" style="background-color: rgb(51, 141, 51)">

                <!------------------------------>
                <!-- EN ESPERA -->
                <!------------------------------>

                <div *ngIf="!ticketsService.myTicket?.id_desk">
                    <span class="xxxxl">
                        {{ ticketsService.myTicket?.cd_skill }}
                        {{ ticketsService.myTicket?.id_ticket }}
                    </span>
                </div>

                <!------------------------------>
                <!-- EN ATENCIÓN -->
                <!------------------------------>

                <div class="banner-content" *ngIf="ticketsService.myTicket?.id_desk">
                    <div class="row">
                        <div class="col">
                            Por favor pase por el escritorio
                        </div>
                    </div>
                    <div class="row">
                        <div class="col xxxxl">
                            {{ ticketsService.myTicket?.cd_desk }}
                        </div>
                    </div>
                </div>

                <!------------------------------>
                <!-- FINALIZADO -->
                <!------------------------------>

                <div *ngIf="!ticketsService.myTicket && ticketsService.myTicket_end" class="banner-content">
                    <div class="container">
                        <div class="text-white my-4 py-2">Su turno ha finalizado</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ======================================================== -->
        <!-- EN CAMINO / CANCELAR TURNO -->
        <!-- ======================================================== -->
        
        <div class="text-center mb-4">
            <span *ngIf="ticketsService.myTicket" class="btn btn-danger text-uppercase m-2"
                (click)="cancelTicket()">Cancelar Turno</span>
            <span *ngIf="ticketsService.myTicket?.id_desk && !coming"
                class="btn btn-success text-uppercase m-2" (click)="enCamino()">en
                camino</span>
        </div>

        <!-- ======================================================== -->
        <!-- ULTIMO TURNO -->
        <!-- ======================================================== -->

        <div class="card text-white bg-danger mb-4">
            <div class="card-header banner-title">ULTIMO TURNO</div>
            <div class="banner-content" style="background-color: rgb(141, 51, 51)">

                <div>
                    <span class="xxxxl">
                        {{ ticketsService.lastTicket?.cd_skill }}
                        {{ ticketsService.lastTicket?.id_ticket }}
                    </span>
                </div>

            </div>
        </div>

        <!-- ======================================================== -->
        <!-- PUBLICIDAD -->
        <!-- ======================================================== -->

        <div>
            <!-- <iframe width="100%" height="480px" [src]="'-FV0KKDdysw?rel=0&autoplay=1&mute=0&fullscreen=1&loop=1&playlist=-FV0KKDdysw' | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allowtransparency="true" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>

    </div>

    <div class="col-md-6">

        <!-- ======================================================== -->
        <!-- HISTORIAL DE LLAMADAS -->
        <!-- ======================================================== -->

        <!-- class="card bg-warning d-flex justify-content-sm-start justify-content-end justify-content-sm-end align-items-center -->
        <div class="card text-white bg-primary mb-4">
            <div class="card-header banner-title">HISTORIAL DE LLAMADOS</div>

            <div class="rounded d-flex banner-content" style="background-color: rgb(54, 77, 194)"
                *ngIf="ticketsService.ticketsTail.length===0">
                <div class="d-flex justify-content-center text-white banner-title" style="width: 100%">
                    <span>espere...</span>
                </div>
            </div>


            <div class="card-body card-tickets-info table-responsive-sm" style="background-color: rgb(54, 77, 194)"
                *ngIf="ticketsService.ticketsTail.length>0">

                <table class="table table text-white text-center" style="font-size: x-large;">

                    <tr>
                        <td> Turno </td>
                        <td> </td>
                        <td> Escritorio </td>
                    </tr>

                    <tr *ngFor="let ticket of ticketsService.ticketsTail;">
                        <td style="text-align: center; width: 50%;">
                            {{ ticket.cd_skill }}{{ ticket.id_ticket }}</td>
                        <td style="padding: 0; vertical-align: middle;">
                            <span *ngIf="ticket.tm_end" style="color: greenyellow">
                                <mat-icon>check</mat-icon>
                            </span>
                        </td>
                        <td style="text-align: center;  width: 50%;">{{ ticket.cd_desk }}</td>
                    </tr>

                </table>

            </div>
        </div>

    </div>
</div>