.mat-toolbar {
  font-family: system-ui;
  background-color: darkorange;
  color: white;
  font-weight: 300;
}

.example-spacer {
  /* Tres valores: flex-grow | flex-shrink | flex-basis */
  flex: 1 1 auto;
}

.saturno-title {
  font-size     : 1.3em;
  font-weight   : 200;
  letter-spacing: .3em;
  line-height: 1em;
}

.saturno-description {
  font-size  : .7em;
  font-weight: lighter;
  line-height: normal;
}

.saturno-logo {
  width: 7em;
}

