<mat-toolbar color="primary" class="turnos-toolbar mat-elevation-z2">
    <mat-toolbar-row>
        
        <i class="material-icons orange600 md-36 m-3" (click)="toggle()">menu</i>
        
        <span class="example-spacer"></span>

        <span>Desk</span>
        <span class="example-spacer"></span>

        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>
        <span>Public</span>

    </mat-toolbar-row>
</mat-toolbar>