<mat-toolbar color="primary" class="tickets-toolbar mat-elevation-z2">
    <mat-toolbar-row>

        <!-- Menu -->
        <span class="mdi mdi-menu xl pointer" *ngIf="userService.logueado" (click)="toggle('sidenav')"></span>
        <span class="example-spacer"></span>

        <!-- Title default -->
        <div *ngIf="!userService.user && !ticketsService.companyData">
            <span class="ml-3" style="float:left;">
                <div class="saturno-title">
                    SATURNO
                </div>
                <div class="saturno-description">
                    Sistema de Administración de Turnos
                </div>
            </span>
        </div>

        <div *ngIf="!userService.user && !ticketsService.companyData">
            <img src="../../../assets/img/saturn.png" class="saturno-logo img-fluid">
        </div>

        <!-- Title Company -->
        <span style="font-size: x-large; font-weight: 300;"
            *ngIf="user?.id_company?.tx_company_name || ticketsService.companyData">
            {{user?.id_company?.tx_company_name || ticketsService.companyData.tx_company_name}}
        </span>

        <span class="example-spacer"></span>

        <!-- Chat Icon -->

        <span *ngIf="ticketsService.myTicket" (click)="toggle('chat')" [matBadge]="unreadMessages"
            [matBadgeHidden]="hiddenBadge" matBadgeColor="warn" matBadgeSize="small"
            class="mdi mdi-message-text xl pointer"></span>


        <!-- User log-in Icon -->
        <div>
            <span *ngIf="!userService.user && !ticketsService.myTicket" routerLink="/login"
                class="mdi mdi-account-circle xl pointer"></span>
        </div>

        <!-- User logged Icon -->
        <div *ngIf="userService.user">
            <span class="mdi mdi-account-circle xl pointer" [matMenuTriggerFor]="menu"></span>
            <mat-menu #menu="matMenu">
                <span mat-menu-item class="mdi mdi-monitor-cellphone-star footer-icon-menu mx-2 xl" routerLink="/assistant/desktop">
                    <span class="ml-3 md" style="vertical-align: bottom;">Mi escritorio</span>
                </span>
                <span mat-menu-item class="mdi mdi-account-circle footer-icon-menu mx-2 xl" routerLink="/assistant/desktop">
                    <span class="ml-3 md" style="vertical-align: bottom;">{{userService.user.tx_name}}</span>
                </span>
                <span mat-menu-item disabled class="mdi mdi-email footer-icon-menu mx-2 xl" routerLink="/assistant/desktop">
                    <span class="ml-3 md" style="vertical-align: bottom;">{{userService.user.tx_email}}</span>
                </span>
                <div class="p-2">
                    <button class="btn btn-sm btn-block btn-danger" (click)="userService.logout()"> Salir </button>
                </div>
            </mat-menu>

        </div>

    </mat-toolbar-row>
</mat-toolbar>