<mat-toolbar color="primary" class="turnos-toolbar mat-elevation-z2">
    <mat-toolbar-row>

        <mat-icon (click)="toggle('sidenav')">menu</mat-icon>
        <span class="example-spacer"></span>

        <span>WebTurnos 0.0.1</span>
        <span class="example-spacer"></span>

 
       <button (click)="toggle('chat')" mat-mini-fab *ngIf="userService.usuario">
            <mat-icon [matBadge]="unreadMessages" [matBadgeHidden]="hiddenBadge" matBadgeColor="warn">chat</mat-icon>
        </button>
        <button *ngIf="!userService.usuario" class="btn btn-primary" routerLink="/login">Login</button>

    </mat-toolbar-row>
</mat-toolbar>