<div class="m-4">


    <div class="card bg-primary lead text-white">
        <div class="card-header">Asistentes</div>
        <div class="card-body card-turnos-primary">

            <div class="my-2" *ngFor="let assistant of assistants">
                <span>{{assistant?.tx_name}}</span>
                <span style="float: right;">
                    <mat-icon class="ml-2 list-crud-edit" (click)="editAssistant(assistant._id)">edit</mat-icon>
                    <mat-icon class="ml-2 list-crud-delete" (click)="deleteAssistant(assistant._id)">delete</mat-icon>
                </span>
            </div>

        </div>

        <div class="my-4"></div>

        <div class="card lead">
            <div class="card-header">Alta de asistente</div>
            <div class="card-body">

                <app-assistant-create-form (assistantCreated)="assistantCreated($event)"></app-assistant-create-form>

            </div>
        </div>

    </div>