/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100vh;
}

body {
   
    margin      : 0;
    font-family : Roboto, "Helvetica Neue", sans-serif;
    font-style  : normal;
    font-size   : medium;
    font-weight : 300;
    line-height : normal;
    src         : local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}

button:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

div:focus {
    outline: none;
}


td {
    vertical-align: middle !important;
}

.shadow-box {
    min-width    : 18rem;
    max-width    : 30rem;
    border-radius: 5px;
    box-shadow   : 0px 0px 10px 0px #999;
}

.desktop-panel-buttons {
    font-size : 1.5rem;
    /* margin : 0px; */
    /* padding: 0px; */
    position  : relative;
    top       : -0.30rem;
    left      : -0.30rem;
}

.button-content {
    align-self : center;
    line-height: 1.5em;
    padding    : 5px;
    margin     : 0px;
}

.saturno-container {
    min-width: 18rem;
    max-width: 30rem;
    padding: 1em;
    margin: 1em;
}
.saturno-base {
    height: 8em;
}

.saturno-footer {
    background-color: white;
    padding-top: .3em;
    padding-bottom: .3em;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    /* unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
}

.footer-icon-menu {
    cursor   : pointer;
    font-size: small;
    opacity  : 0.8;
    margin   : 0;
    outline  : none;
    color    : #0d6ed6;

}

.button {
    border       : none;
    border-radius: 5px;
    padding      : 8px;
    width        : inherit;
}

.button-disabled {
    background-color: #f1f1f1;
    color           : #c7c7c7;
}

.button-inner {
    font-weight: 300;
    font-size  : small;
}

.accessible-icon {
    font-size: xx-large;
    position : relative;
    left     : -3px;
    top      : 3px;
    color    : green;
}

/* list no warp */
.mat-select-option-nowarp {
    float: left;
    width: max-content;
}

/* banner company search & welcome */
.text-company {
    color      : darkred;
    font-size  : 2.5rem;
    line-height: 2rem;
    font-weight: 400;
}

/* cruds */
.list-crud-delete {
    vertical-align: middle;
    color         : deeppink;
    cursor        : pointer;
}

.list-crud-edit {
    vertical-align: middle;
    color         : lightgreen;
    cursor        : pointer;

}

.list-crud-star {
    vertical-align: middle;
    color         : yellow;
    cursor        : pointer;
}

.card-turnos-danger {
    background-color: brown;
}

.card-turnos-primary {
    background-color: darkslateblue;
}

.card-turnos-info {
    background-color: darkslategrey;
}


/* sidenav */
/* sidenav titles */
.sidenav-title {
    align-items: center;
    cursor     : pointer;
}

.sidenav-title-icons {
    font-size     : x-large;
    color         : #449;
    vertical-align: top;
}

.sidenav-title-text {
    color         : #449;
    font-size     : large;
    vertical-align: bottom;
    margin-left   : .5rem;
    font-weight   : 400;
}



/* sidenav items */
.sidenav-item {
    display    : flex;
    align-items: center;
    cursor     : pointer;
    margin     : 1rem;
}

.sidenav-item-icons {
    font-size     : x-large;
    color         : #aaa;
    vertical-align: top;
}

.sidenav-item-text {
    color         : black;
    font-size     : medium;
    vertical-align: bottom;
    margin-left   : .5rem;
    font-weight   : 300;
}



.banner-title {
    font-size  : x-large;
    font-family: unset;
    font-weight: 400;
}

.banner-content {
    border-radius  : 0.3rem;
    text-align     : center;
    line-height    : normal;
    font-size      : x-large;
    justify-content: center;
    margin         : .3rem;
}

.banner-footer {
    font-size  : large;
    font-weight: 200;
}

.banner-content .xxxxl {
    font-size: 3em;
    font-weight: 500;
}

.banner-content .xxxl {
    font-size: xxx-large;
}


/* animate */
/* animaciones */
.animated {
    -webkit-animation-duration : 1s;
    animation-duration         : 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

.fast {
    -webkit-animation-duration : 0.4s;
    animation-duration         : 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/* angular material re styling */
.mat-horizontal-content-container {
    padding: 0px !important;
}

.mat-expansion-panel-body {
    padding: .5rem !important;
}

.mat-radio-outer-circle {
    border-color: #ffd740;
}


.swal2-title {
    font-size  : x-large !important;
    font-weight: 300 !important;
    color      : red !important;
}

.swal2-content {
    font-size  : medium !important;
    font-weight: 300 !important;
}