/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:focus { outline: none; }
textarea:focus { outline: none; }
input:focus { outline: none; }
div:focus { outline: none; }

.shadow-box {
    min-width: 18rem;
    max-width: 30rem;
    border-radius: 10px;
    box-shadow: 3px 3px 30px -10px #999;
}

/* button panels */
.footer-panel {
    padding: 5px;
    position: fixed;
    bottom: 0px;
    background-color: whitesmoke;
    width: 100%;
    box-shadow: 0px 0px 3px 0px #999;
  }

/* list no warp */
.mat-select-option-nowarp {
    float: left;
    width: max-content;
  }

/* banner company search & welcome */
.text-company {
    color: darkred; 
    font-size: 2.5rem; 
    line-height: 2rem;
    font-weight: 400; 
}

/* cruds */
.list-crud-delete{
    vertical-align: middle;
    color:deeppink;
    cursor: pointer;
}

.list-crud-edit{
    vertical-align: middle;
    color:lightgreen;
    cursor: pointer;

}

.list-crud-star{
    vertical-align: middle;
    color:yellow;
    cursor: pointer;
}

.card-turnos-danger {
    background-color: brown;
}
.card-turnos-primary {
    background-color: darkslateblue;
}
.card-turnos-info {
    background-color: darkslategrey;
}


/* sidenav */
.sidenav-title {
    font-size: 24px;
    cursor: pointer;
}

.sidenav-title-icons {
    font-size: 24px;
    color: dimgray;
    vertical-align: bottom;
}

.sidenav-title-text {
    margin-left: .3rem;
    font-weight: 100;
    color: lightgray;
}

.sidenav-item {
    cursor: pointer;
    margin: 1rem;
}

.sidenav-item-icons {
    color: cornflowerblue;
    vertical-align: top;
}

.sidenav-item-text {
    font-weight: 100;
    color: black;
    font-size: medium;
    vertical-align: bottom;
    margin-left: .5rem;
}




.banner-title {
    font-size: x-large;
    font-family: unset;
}

.banner-subtitle {
    padding: .4em;
    font-size: x-large;
    font-family: unset;
    font-weight: 100;
    line-height: normal;
}

.banner-content {
    border-radius: 0.3rem;
    text-align: center;
    font-weight: 100;
    line-height: normal;
    font-size: x-large;
    justify-content: center;
    margin: .3rem;
}

.banner-footer {
    font-size: large;
    font-weight: 100;
}
.banner-content .xxxxl {
    font-size: 3em;
}

.banner-content .xxxl {
    font-size: xxx-large;
}


/* animate */
/* animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

/* angular material re styling */
  .mat-horizontal-content-container {
      padding: 0px !important;
  }
  .mat-expansion-panel-body {
      padding: .5rem !important;
  }
  .mat-radio-outer-circle {
    border-color: #ffd740;
  }

  .mat-icon {
      font-size: 18px;
  }
