.turno-container {
    max-width: 100%; 
    height: 100%;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.text-company {
    color: darkred; 
    font-size: 2.5rem; 
    line-height: 2rem;
    font-weight: 400; 
}