<form autocomplete="off" style="color: brown;" ngNativeValidate #formDirective="ngForm" [formGroup]="forma" (ngSubmit)="createSkill(formDirective)">

    <mat-form-field color="warn" class="w-100">
        <mat-label>Prefijo</mat-label>
        <input matInput placeholder="V" formControlName="cdSkill" name="cdSkill" type="text" maxlength="2" required>
    </mat-form-field>

    <mat-form-field color="warn" class="w-100">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Ventas" formControlName="txSkill" name="txSkill" type="text" required>
    </mat-form-field>

    <div class="form-group text-center">
        <button class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit">Crear Skill</button>
    </div>

</form>