.saturno-myticket-background {
  height          : 100vh;
  background-image: url('../../../../assets/img/myticket-background.png');
  background-size : 100px;
}

.screen-icon-star {
  cursor   : pointer;
  transform: scale(2);
  color    : #b64444;
  top      : 3px;
  position : relative;
  font-size: xx-large;
}

.screen-icon-star-on {
  color: orange;
}

.button-disabled {
  background-color: #f1f1f1;
  color           : grey;
  border          : solid 1px grey;
}

/*---------------------------------------------------*/
/* my ticket rounded */
.screen-myticket-container {
  padding         : 2em;
  width           : 13em;
  height          : 13em;
  line-height     : 3em;
  border-radius   : 50%;
  color           : darkslategray;
  background-color: #fcfcfc;
}

.screen-myticket-text-header {
  font-size: 1.2em;
  color    : grey;

}

.screen-myticket-text {
  font-size: 3.5em;
  color    : red;
}

.screen-myticket-text-alert {
  opacity: 0.1;
}

.screen-myticket-text-footer {
  font-size: 1em;
  color    : grey;
}

/* ------------------------------------------------------- */

/* history */
.screen-history-title {
  font-size: calc(.8em + .8vw);
  color    : gray;
}

.screen-history-text {
  font-size: calc(1em + .8vw);
}

.screen-history-icon {
  font-size: calc(1.2em + .8vw);
}