<!-- ======================================================== -->
<!-- TICKETS SCREEN -->
<!-- ======================================================== -->
<div class="saturno-bg-tile-1 h-100">
    <div class="saturno-card m-0">

        <!------------------------------>
        <!-- SU TURNO REDONDO -->
        <!------------------------------>
        <div class="screen-myticket-container shadow-box my-3" *ngIf="myTicket">
            <div class="screen-myticket-text-header">
                SU TURNO
            </div>
            <div class="screen-myticket-text" [ngClass]="{'screen-myticket-text-alert':showAlert}">
                {{ myTicket?.id_skill.cd_skill }}
                {{ myTicket?.id_position }}
            </div>
            <div class="screen-myticket-text-footer mt-3" style="line-height: normal;" *ngIf="averageToAtt">
                <span *ngIf="!myTicket?.id_session">
                    {{ averageToAtt}}
                </span>
                <span *ngIf="myTicket?.id_session">
                    Pase por el escritorio {{ myTicket?.id_session?.id_desktop?.cd_desktop }}
                </span>
            </div>
        </div>

        <!------------------------------>
        <!-- FINALIZADO -->
        <!------------------------------>
        <div class="card text-white bg-danger my-4" *ngIf="myTicket===null && ticketTmEnd!==null">
            <div class="card-header screen-text-title">SU OPINION</div>
            <div class="banner-content p-3" style="background-color: rgb(141, 51, 51)">

                <div class="xl">¡Su turno ha finalizado!</div>

                <div *ngIf="allMytickets.length > 0" class="md">¿Podría dejarnos su opinión
                    sobre la calidad de atención?</div>

                <div class="text-white my-4 table-responsive-sm">
                    <table class="table table-sm text-white">
                        <tr *ngFor="let ticket of allMytickets">
                            <td class="xl py-2" style="width: 50%;text-align: left;">
                                {{ ticket.id_skill?.tx_skill }}
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(ticket._id) >= 1}"
                                    (click)="setScore(ticket._id, 1)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(ticket._id) >= 2}"
                                    (click)="setScore(ticket._id, 2)"></span> </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(ticket._id) >= 3}"
                                    (click)="setScore(ticket._id, 3)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(ticket._id) >= 4}"
                                    (click)="setScore(ticket._id, 4)"></span>
                            </td>
                            <td class="p-0 py-2">
                                <span class="mdi mdi-star screen-icon-star"
                                    [ngClass]="{'screen-icon-star-on': scores.get(ticket._id) >= 5}"
                                    (click)="setScore(ticket._id, 5)"></span>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>


        <!-- ======================================================== -->
        <!-- HISTORIAL DE LLAMADAS -->
        <!-- ======================================================== -->

        <div class="card shadow-box p-2 my-4">
            <table class="w-100 table-sm text-center">
                <tr>
                    <td class="screen-history-title"> TURNO </td>
                    <td class="screen-history-title"> ESCRITORIO</td>
                    <td class="screen-history-title"> ESTADO </td>
                </tr>
                <tr *ngIf="ticketsTail.length === 0">
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr *ngFor="let ticket of ticketsTail;">
                    <td style="text-align: center;" class="screen-history-text">
                        {{ ticket.id_skill?.cd_skill }}{{ ticket.id_position }}</td>
                    <td style="text-align: center;" class="screen-history-text">
                        {{ ticket.id_session.id_desktop.cd_desktop }}</td>
                    <td style="padding: 0; vertical-align: middle;">
                        <span *ngIf="!ticket.tm_end" style="color: blueviolet">
                            <span class="mdi mdi-contactless-payment-circle-outline screen-history-icon"></span>
                        </span>
                        <span *ngIf="ticket.id_child && ticket.tm_end" style="color: red">
                            <span class="mdi mdi-arrow-left-circle-outline screen-history-icon"></span>
                        </span>
                        <span *ngIf="!ticket.id_child && ticket.tm_end" style="color: green">
                            <span class="mdi mdi-check-circle-outline screen-history-icon"></span>
                        </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<!-- ======================================================== -->
<!-- PUBLIC BUTTONS -->
<!-- ======================================================== -->
<div *ngIf="myTicket" class="container bg-light fixed-bottom shadow-box no-radius text-center py-1">
    <div class="row">

        <div class="col-6 button-content">
            <button [disabled]="!myTicket" [ngClass]="{'button-disabled':!myTicket}" class="btn btn-danger button"
                (click)="cancelTicket()">
                <!-- cancel ticket -->
                <div>
                    <span class="mdi mdi-power xxl"></span>
                </div>
                <div class="button-inner">
                    Cancelar Turno
                </div>
            </button>
        </div>

        <div class="col-6 button-content">
            <button [disabled]="!myTicket?.id_session || coming" class="btn btn-success button"
                [ngClass]="{'button-disabled':!myTicket?.id_session || coming}" (click)="enCamino()">
                <!-- cancel ticket -->
                <div>
                    <span class="mdi mdi-walk xxl"></span>
                </div>
                <div class="button-inner">
                    ¡En camino!
                </div>
            </button>
        </div>

    </div>
</div>

<div *ngIf="!myTicket" class="saturno-footer">
    <div class="row">
        <div class="col">
            <span class="footer-icon-menu" routerLink="/home">
                <span class="mdi mdi-home xl"></span>
                <div>Inicio</div>
            </span>
        </div>
    </div>
</div>