<div class="container animated fadeIn">
    <div class="row">

        <div class="col-sm-12 col-6">
            <mat-form-field color="accent">
                <mat-label>Inherited calendar color</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-6">
            <mat-form-field color="accent">
                <mat-label>Custom calendar color</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>

    </div>
</div>